body { font-size: 72.5%; }

.page-top-info {
	padding: 5px;
}

.page-menu {
	padding: 10px 10px 15px 10px;
}

h1 {
	font-size: 20px;
}

.content {
	/*
	-webkit-box-shadow: 0px 0px 15px 0px #949494;
	-moz-box-shadow: 0px 0px 15px 0px #949494;
	box-shadow: 0px 0px 15px 0px #949494;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	*/
	padding: 15px;
	margin: 20px;
	height: 100%;
}

.content table {
	width: 100%;
	border: 1px solid #4297D7;
	margin-top: 20px;
	margin-bottom: 10px;
}

.content table tr td {
	padding: 8px;
	border-right: 1px solid #4297D7;
	text-align: center;
}

.content table tr th {
	padding: 8px;
	border-right: 1px solid #4297D7;
	text-align: center;
	font-size: 14px;
}

.content a {
	font-size: 12px;
	color: #4297D7;
	text-decoration: underline;
	
}

.content a:hover {
	color: black;
	text-decoration: none;
}

.content hr {
	background: #4297D7;
	height: 0.5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dialog {
	font-size: 12px;
	width: 250px;
	height: 350px;
}

label, input { display:block; }
label { 
	color: #4297D7;
	font-weight: bold;
}
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.footer {
	position: absolute;
	bottom: 0;
	background: #2191C0;
	border-top: 1px solid #4297D7;
	color: white;
	font-size: 14px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer a {
	text-decoration: underline;
	color: white;
	font-size: 16px;
}

.footer a:hover {
	text-decoration: none;
}

/* First line in the table, just for an example */
.first-line {
	visibility: hidden;
}

/* Zebra table style */
.alternate-row {
	background: lightgray;
}

.dialog-messages {
	margin-top: 5px;
}

.notification
{
	font-size: medium;
	background-color: #F7F7F7;
	color: #606060;
	border: 1px solid #606060;
}
.success
{
	border: 1px solid #25541F;
	font-size: medium;
	background-color: #acfa58;
	color: #25541F;
}
.fail
{
	border: 1px solid #fe2e2e
	font-size: medium;
	background-color: #fe2e2e;
	color: white;
}