body { font-size: 72.5%; }

.page-top-info {
	padding: 5px;
}

.page-menu {
	padding: 10px 10px 15px 10px;
}

h1 {
	font-size: 20px;
}

.content {
	/*
	-webkit-box-shadow: 0px 0px 15px 0px #949494;
	-moz-box-shadow: 0px 0px 15px 0px #949494;
	box-shadow: 0px 0px 15px 0px #949494;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	*/
	padding: 15px;
	margin: 10px 10px 30px 10px;
	height: 100%;
}

.content table {
	width: 100%;
	border-left: 1px solid #0078AE;
	border-right: 1px solid #0078AE;
}

.content table thead tr th {
	padding: 10px;
}

.content table tbody tr td {
	padding: 8px;
}

.content .ui-state-default {
	border: 1px solid #0078AE; !important
}

.content .dataTables_filter input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: .4em;
	width: 270px;
	border: 1px solid #0078AE;
}

.content .dataTables_filter select {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: .4em;
	border: 1px solid #0078AE;
}

.content .dataTables_info {
	padding: 8px;
}

.content .dataTables_length {
	padding: 8px;
}

.content .buttons-area {
	margin-top: 20px;
}

.dataTables_wrapper label {
	color: white;
}

.dialog {
	font-size: 12px;
	width: 250px;
	height: 350px;
}

/* Display as a block when in a form content */
.form-content label { display:block; }
.form-content input { display:block; }

label { 
	color: #4297D7;
	font-weight: bold;
}

.text { margin-bottom:12px; padding: .4em; }
.number, .money { text-align: right; margin-bottom:12px; padding: .4em; }

fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


.footer {
	position: absolute;
	bottom: 0;
	background: #2191C0;
	border-top: 1px solid #4297D7;
	color: white;
	font-size: 14px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}


/*
.footer {
	position: relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
	color: white;
	font-size: 14px;
	background: #2191C0;
	padding-top: 20px;
	padding-bottom: 20px;
}
*/
.footer a {
	text-decoration: underline;
	color: white;
	font-size: 16px;
}

.footer a:hover {
	text-decoration: none;
}

/* First line in the table, just for an example */
.first-line {
	visibility: hidden;
}

/* Zebra table style */
.alternate-row {
	background: lightgray;
}

.dialog-messages {
	margin-top: 5px;
}

.notification
{
	font-size: medium;
	background-color: #F7F7F7;
	color: #606060;
	border: 1px solid #606060;
}
.success
{
	border: 1px solid #25541F;
	font-size: medium;
	background-color: #acfa58;
	color: #25541F;
}
.fail
{
	border: 1px solid #fe2e2e
	font-size: medium;
	background-color: #fe2e2e;
	color: white;
}

.login-form-div-header {
	padding: 8px;
	margin-bottom: 15px;
}

.login-form-div {
	width: 330px;
	height: 220px;
	margin-top: 200px;
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px 0px #949494;
	-moz-box-shadow: 0px 0px 15px 0px #949494;
	box-shadow: 0px 0px 15px 0px #949494;
}

.tabs-area {
	margin: 10px 10px 30px 10px;
}